<% if !@post.blank? %>
	<div><h3><%= @post.title %></h3>
	<p class="tuck">&rarr; <%= time_ago_in_words(@post.timestamp)%> ago</p><br/>
	<% @markdown_text = RDiscount.new(@post.body) %>
	<%= @markdown_text.to_html %></div>
	
<% else %>
<div class="center">
	<p>Oh dear. It seems you have tried to view content that does not exist. Even now I am slaving over a hot furnace generating lavish sentences for you to consume. Additionally, you may wish to view this kitten.</p>
	<img src="../images/kitten.jpg" alt="A cute kitten, I hope you aren't blind."/>
</div>
<% end %>
