<% if !@post.blank? %>

	<div class="snip"><h2 class="list"><%= @post.title %></h2>
	<p class = "stamp"><%= time_ago_in_words(@post.timestamp)%> ago</p>
	<% @markdown_text = RDiscount.new(@post.body) %>
	<%= @markdown_text.to_html %></div>
	
<% else %>
<div class="center"><img src="../images/dw_question.png" alt="image"/><br/> I believe you have reached this page in error. Please try again.</center></div>
<% end %>
